  
  nav {
    overflow: hidden;
    background-color: rgb(34, 34, 34);
  }
  nav a:hover {
    background-color: black;
    color: white;
  }
  nav button {
    float: right;
    margin:5px 20px 5px 0px;
    padding: 7px;
  }
  nav input[type=text]{
    float: right;
    margin:5px 0px 5px;
    padding: 7px;
  }
.testModal {
    display: none;
    position: fixed;
    z-index: 1;
    width: 70%;
    height: 50%;
    overflow: auto;
    background-color: rgb(61, 190, 168);
    
}
.delete_edit_modal {
    display: none;
    position: fixed;
    z-index: 1;
    width: 30%;
    height: 30%;
    overflow: auto;
    background-color: rgb(114, 228, 209);
    
}
.closeModal{
    color: rgb(17, 16, 16);
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.editModal {
    display: none;
    position: fixed;
    z-index: 1;
    width: 70%;
    height: 50%;
    overflow: auto;
    background-color: rgb(61, 190, 100);
    
}